/* Nav bar Styles*/
.navbar {
  background-color: #631010;
}

.navbar .navbar-brand {
  color: #ffffff !important;
}



/* Footer Styles */
footer {
  background-color: #4C3737;
  color: #ffffff;
  font-size: 16px;
  position: relative;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the entire container */
  position: relative;
  padding: 15px 0;
}

/* Footer Text Styling */
.footer-text {
  text-align: center;
  width: 100%;
}

.footer-text p {
  margin-bottom: 0;
}

/* Link Styling */
footer a {
  color: #65c2ff; 
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease;
}

footer a:hover {
  color: #11a0ff; /* Slightly darker blue on hover */
  text-decoration: none;
}

/* Social Media Icons Container */
.footer-right.social-icons {
  position: absolute;
  right: 15px; /* Adjust as needed to align with container padding */
  display: flex;
  gap: 16px;
}

.social-icons a img {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons a:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}


